:root {
  --colors-white: #ffffff;
  --colors-gray-100: #e0e0e0;
  --colors-gray-200: #c5c5c5;
  --colors-gray-300: #cacaca;
  --colors-gray-400: #c0c0c0;
  --colors-gray-500: #a6a6a6;
  --colors-gray-600: #1a1a1a;
  --colors-black: #000000;
}
.font {
  &-normal {
    font-weight: 400 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }
  &-semibold {
    font-weight: 600 !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
}
